/* glue: 0.3 hash: cbb9ebaa80 */
.fpc-img-glyphicons-halflings,
.fpc-img-ui-icons,
.fpc-img-ai,
.fpc-img-logo,
.fpc-img-brasil,
.fpc-img-relatorios,
.fpc-img-pedidos,
.fpc-img-notafiscal,
.fpc-img-financeiro,
.fpc-img-estoque,
.fpc-img-clientes,
.fpc-img-agenda,
.fpc-img-search,
.fpc-img-ie,
.fpc-img-firefox,
.fpc-img-chrome,
.fpc-img-reset,
.fpc-img-normal,
.fpc-img-diminuir,
.fpc-img-diminui,
.fpc-img-aumentar,
.fpc-img-aumenta,
.fpc-img-altocontraste,
.fpc-img-barra-brasil{background-image:url('/static/img/fpc/fpc_img.png');background-repeat:no-repeat}
.fpc-img-glyphicons-halflings{background-position:0px 0px;width:469px;height:159px;}
.fpc-img-ui-icons{background-position:0px -159px;width:256px;height:240px;}
.fpc-img-ai{background-position:-256px -159px;width:161px;height:24px;}
.fpc-img-logo{background-position:-256px -183px;width:121px;height:34px;}
.fpc-img-brasil{background-position:-256px -217px;width:108px;height:24px;}
.fpc-img-relatorios{background-position:-256px -241px;width:72px;height:72px;}
.fpc-img-pedidos{background-position:-328px -241px;width:72px;height:72px;}
.fpc-img-notafiscal{background-position:-256px -313px;width:72px;height:72px;}
.fpc-img-financeiro{background-position:-328px -313px;width:72px;height:72px;}
.fpc-img-estoque{background-position:-469px 0px;width:72px;height:72px;}
.fpc-img-clientes{background-position:-469px -72px;width:72px;height:72px;}
.fpc-img-agenda{background-position:-469px -144px;width:72px;height:72px;}
.fpc-img-search{background-position:-469px -216px;width:32px;height:31px;}
.fpc-img-ie{background-position:-501px -216px;width:24px;height:24px;}
.fpc-img-firefox{background-position:-469px -247px;width:24px;height:24px;}
.fpc-img-chrome{background-position:-493px -247px;width:24px;height:24px;}
.fpc-img-reset{background-position:-525px -216px;width:16px;height:10px;}
.fpc-img-normal{background-position:-525px -226px;width:16px;height:10px;}
.fpc-img-diminuir{background-position:-517px -247px;width:16px;height:10px;}
.fpc-img-diminui{background-position:-517px -257px;width:16px;height:10px;}
.fpc-img-aumentar{background-position:-469px -271px;width:16px;height:10px;}
.fpc-img-aumenta{background-position:-485px -271px;width:16px;height:10px;}
.fpc-img-altocontraste{background-position:-469px -281px;width:11px;height:11px;}
.fpc-img-barra-brasil{background-position:-525px -236px;width:1px;height:2px;}
