<div class="container-fluid">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="servico">
        <div class="card">
          <div class="header">
            <h2>SERVICO</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li><a href="javascript:void(0);">Action</a></li>
                  <li><a href="javascript:void(0);">Another action</a></li>
                  <li><a href="javascript:void(0);">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="table-responsive">
              <table class="table table-hover dashboard-task-infos">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>NOME</th>
                    <th>URL</th>
                    <th>EXECUTAR</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{servico.rowid}}</td>
                    <td><span class="label bg-green">{{servico.name | uppercase}}</span></td>
                    <td>{{servico.url}}</td>
                    <td>
                      <i class="material-icons">launch</i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <button (click)="goBack()">
              Voltar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
