<mat-card>
    <mat-card-title>
        <h2>Buscar Serviços</h2>
    </mat-card-title>
    <mat-card-content>
        <form id="filtroDiploma" ng-submit="buscarDiplomas()" ng-controller="DiplomaListComponent">

            <div class="row">
              <div class="col-md-3">
                  <mat-form-field class="full-width">
                      <input matInput  placeholder="Id" name="Id" [(ngModel)]="filtro.rowid">
                  </mat-form-field>
              </div>
                <div class="col-md-3">
                    <mat-form-field class="full-width">
                        <input matInput  placeholder="Nome" name="Nome" [(ngModel)]="filtro.name">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field  class="full-width">
                        <input matInput placeholder="Dono" name="Dono" [(ngModel)]="filtro.owner">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field  class="full-width">
                        <input matInput placeholder="Url" name="Url" [(ngModel)]="filtro.url">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field  class="full-width">
                        <input matInput placeholder="Tipo" name="Tipo" [(ngModel)]="filtro.type">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field  class="full-width">
                        <input matInput placeholder="Serviço" name="Serviço" [(ngModel)]="filtro.service">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field  class="full-width">
                        <input matInput placeholder="Linguagem" name="Linguagem" [(ngModel)]="filtro.lang">
                    </mat-form-field>
                </div>
            </div>

            <button mat-raised-button color="primary" (click)="buscarServicos()">
                <i class="material-icons">search</i> Buscar
            </button>
        </form>
    </mat-card-content>
</mat-card>

<br/>
<mat-card *ngIf="!(isLoading | async) && (lista | async)?.length > 0">
    <mat-card-header>
        <h2>Lista de Serviços</h2>
    </mat-card-header>
    <mat-card-content>
        <mat-table #table [dataSource]="servicoService.pagerComponent.pagedItems">
            <ng-container matColumnDef="Nome">
                <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Dono">
                <mat-header-cell *matHeaderCellDef>Dono</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.owner}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Url">
                <mat-header-cell *matHeaderCellDef>Url</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.url}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Tipo">
                <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Serviço">
                <mat-header-cell *matHeaderCellDef>Serviço</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.service}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Linguagem">
                <mat-header-cell *matHeaderCellDef>Linguagem</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.lang}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Visualizar">
                <mat-header-cell *matHeaderCellDef>Pré-Visualizar</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button	color="primary" (click)=preVisualizarServico(row)>
                        <i class="material-icons">launch</i>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [length]="servicoService.pagerComponent.length" pageSize = "10"
                        [pageSizeOptions]="pageSizeOptions" (page)="paginar($event)">
        </mat-paginator>
    </mat-card-content>
</mat-card>
