<div id="f_breadcrumb">
	<ol class="breadcrumb">
		<li><a href="/portal/index.html"><i class="glyphicon glyphicon-home"></i></a></li>
		<li *ngFor="let item of breadcrumb" (click)="go(item)">{{ item.title }}</li>
	</ol>
</div>
<div class="bs-docs-section">
	<div class="bs-glyphicons">
		<ul class="bs-glyphicons-list">
			  <li *ngFor="let item of current.items" (click)="go(item)">
					<img src="{{ item.image_url }}" />
					<span class="glyphicon-class">
						<strong>{{ item.title }}</strong>
					</span>
			  </li>
		</ul>
	</div>
</div>

