<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a id="nome_sistema" class="navbar-brand" href="#">
		 <strong>{{ sitemap.title }}</strong>
	  </a>
	</div>
	<div id="fpc_menu" class="navbar-collapse collapse">
	  <ul id="barra_nav" class="nav navbar-nav">
			<li *ngFor="let item of sitemap.left_menu">
				<a  (click)="setCurrentPage(item.url)" style="cursor:pointer">{{ item.title }}</a>
			</li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="fpc.views.fpc_logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
	  </ul>
	</div>
  </div>
</div>
<div id="painel_conteudo" class="container">

		<div [ngSwitch]="current_page">
		  <template [ngSwitchCase]="2">
				<sobre></sobre>
		  </template>
		  <template ngSwitchDefault>
			<div id="f_breadcrumb">
				<ol class="breadcrumb">
					<li><a href="/portal/index.html"><i class="glyphicon glyphicon-home"></i></a></li>
					<li *ngFor="let item of breadcrumb" (click)="go(item)">{{ item.title }}</li>
				</ol>
			</div>
			<div class="bs-docs-section">
				<div class="bs-glyphicons">
					<ul class="bs-glyphicons-list">
						  <li *ngFor="let item of current.items" (click)="go(item)">
								<img src="{{ item.image_url }}" />
								<span class="glyphicon-class">
									<strong>{{ item.title }}</strong>
								</span>
						  </li>
					</ul>
				</div>
			</div>
		  </template>
		</div>


</div>
<div style="height: 90px"></div>
<div id="footer">
  <div class="container">
	<div class="col-lg-12" style="text-align:center;">
		<p class="pull-right"><a href="#">Voltar ao Topo</a></p>
		<p style="font-weight:bold">Copyright 2015 - 2016 ErlangMS Team<br>
			<small>Powered by <a href="https://github.com/erlangMS">ErlangMS</a></small>
		</p>
	</div>
  </div>
</div> 
<a id="btn_abrir_dialog" href="#openModal" style="display:none"></a>
<div id="f_dialog"></div>

