<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="index.html">
              <img src="assets/images/as_vert_NEG_TRANSP_flag.png" />
              {{ title | uppercase }}
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Call Search -->
                <li><a href="javascript:void(0);" class="js-search" data-close="true" data-toggle="tooltip" data-placement="bottom" title="Buscar"><i class="material-icons">search</i></a></li>
                <!-- #END# Call Search -->
                <!-- Tasks -->
                <li class="pull-right"><a href="javascript:void(0);" (click)="logout()" data-toggle="tooltip" data-placement="bottom" title="Sair"><i class="material-icons">exit_to_app</i></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- #Top Bar -->
