@charset "UTF-8";

body {
	font-size: 12px;
}

.control-label {
	display: block;
	margin-bottom: 0;
	vertical-align: middle;	
}


.form-horizontal .control-label {
	text-align: left;
}

.form .control-label {
	margin-right: 6px;
	margin-right: 2px;
	min-width: 92px;
}

.form-inline .control-label {
	margin-right: 6px;
	margin-right: 2px;
	min-width: 92px;
}


.form .form-group {
	margin-bottom: 4px !important;
}

.form-inline .form-group {
	margin-bottom: 4px !important;
}

.form-horizontal .form-group {
	margin-left: -10px;
	margin-right: 0;
}

.navbar-default {
	background-color: {{ fpc.css_header_background_color }}
	
}

.fpc_centro {
	text-align: center;
}

#fpc_header {
	height: 141px;
	
}

#fpc_header_top {
	background-color: {{ fpc-header-background-color }};
	height: 28px;
	border-bottom: 1px solid #006400; 
	outline: 1px solid #DAA520;
}

#fpc_change_font {
	float: left;
	height: 28px;
	width: 432px;
}

#fpc_change_font ul {
	list-style: none;
	padding: 6px 10px;
}

#fpc_change_font ul li {
	display: inline;
	margin-left: 5px;
	padding-left: 22px;
}

#fpc_change_font a:link, #fpc_change_font a:visited {
	color: #fff;
}


#fpc_brasil {
	height: 28px;
	float: right;
	overflow: hidden;
}

#fpc_brasil ul {
    float: right;
    list-style: none;
    height: 28px;
    width: 320px;
}

#fpc_brasil ul li {
    float: left;
    padding-left: 25px;
}

#fpc_brasil .fpc-img-ai {
    display: block;
    height: 28px;
    text-indent: -10000px;
    margin-top: 4px;
}

#fpc_brasil .fpc-img-brasil {
    display: block;
	text-indent: -10000px;
	margin-top: 4px;
}


#fpc_header_midle {
	background-color: #003366;
	height: 62px;
	border-bottom: 1px solid #FFD700;
}

#fpc_logo {
	float: left;
	height: 49px;
	width: 197px;
	cursor: pointer;
	padding-left: 12px;
}

#fpc_nome_sistema{
	height: 49px;
	float: left;
	text-align: center;
	padding-top: 18px;
	margin: 0;
	width: 550px;
	color: white; 
	font-size: 22px;
}

#fpc_menu_user {
	float: right;
	height: 51px;
	padding: 7px;
	width: 197px;
}


#fpc_menu_user ul {
	color: white;
	height: 52px;
	overflow: hidden;
}

#fpc_menu_user ul a {
	text-decoration: none;
	color: white;
}

#fpc_menu_user ul a:hover {
	color: #ddd;
}

#fpc_menu_user ul span {
	margin-right: 4px;
}

#fpc_header_bottom {
	
	
	
}

.form-signin {
	max-width: 360px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	font-size: 12px;
}

fieldset {
    border: 1px solid #DDD;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    border: 0;
    width: inherit;
}


.form_consulta {
	padding: 0 4px 4px 8px;	
	
}


.panel-middle {
	min-height: 450px;
	padding: 8px 8px 8px 10px;
	border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 20px rgba(153, 153, 153, 0.2);
	margin: 10px auto;
	width: 978px;
}


.titulo_app {
	text-align:center; 
	font-weight: 700; 
	color: #003366; 
	font-size: 22px;
	font-family: 'Myriad Pro','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif; 
}



.breadcrumb {
	background-color: white;
	height: 25px;
	margin-top: 0;
	margin-bottom: 12px;
}

.breadcrumb>li {
	cursor: pointer;
}

#sep_breadcrumb {
	height: 1px;
	margin: 5px 0  8px 0;
}

#filtro {
	margin-top: 5px;
}


table.dataTable tr.odd {
	background-color: #F2F5F9; 
}

table.dataTable tr.odd td.sorting_1 {
	background-color: rgba(1, 1, 14, 0.12);
}



/* button {
	border: 1px solid #aaa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 2px 5px;
	margin: 0 3px; 
	cursor: pointer;
	height: 22px;
	min-width: 70px;
	background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #C4C4C4;
    color: #4F4F4F;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.698);	
}
 */

default:active, .btn-default.active {
	border: 1px solid #aaa;
	background-color: #aaa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 2px 5px;
	margin: 0 5px;
	cursor: pointer;
}

.btn-group {
	height: 22px;
	vertical-align: inherit; 
}

#barra_botao {
	margin-left: 35px;
	margin-bottom: 5px;
	float: left !important;
}

/*.input-group-addon{
	height: 8px;
	padding: 0;	
	font-size: 16px;
	display: inline;
	margin-left: 2px;
	border: 0 solid #DDDDDD;
	border-radius: 0;	
} 
*/

.form-inline .input-group>.form-control {
	width: auto;
}

.form-group .input-group .input-group-btn {
	display: inline-table;
}

.titulo1 {
	text-align:center; 
	font-weight: 700; 
	color: #003366; 
	font-size: 30px; 
	margin-top: 120px;
	font-family: 'Myriad Pro','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;
}

*.titulo2 {
	text-align:center; 
	font-weight: 700; 
	color: #333332;
	font-family: 'Myriad Pro','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;
}

*.titulo3 {
	font-weight: 700; 
	color: #333332;
	font-family: 'Myriad Pro','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;
}

.titulo4 {
    color: #333;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.698);
    font-weight: bold;
    float: left;
   	font-size: 12px;
   	font-family: Arial,sans-serif;
}

.fpc-img-barra-brasil {
	background-repeat: repeat;
	
		
}

#panel-north-north_c {
	display: none;
	float: right;
	height: 28px;
	width: 379px;
	width: 357px;
}

html>body #panel-north-north_c {
	width: 357px;
}


.fpc-img-logo {
	margin-top: 15px;
	display:inline-block;	
}

#panel-north-middle_b {
    color: #fff;
    height: 45px;
	min-width: 464px;
	overflow: hidden;
	padding: 17px 0 0;
	text-align: center;
}


#panel-north-middle_c ul {
	list-style: none;
}

#panel-north-middle_c .listItem {
	text-align: left;
	height: 16px;
}

#panel-north-middle_c .listItem a {
	color: white;
}

#panel-north-middle_c #userPanel a {
	color: #005599;
}


#panel-north-south {
	border-top: none;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 0 20px rgba(153, 153, 153, 0.5);
	min-height: 37px;
	margin: 0 auto;
	width: 978px;
}


#panel-north-south_a {
	display: none;
	float: left;
	min-height: 35px;
	padding: 5px 10px;
	width: 219px;
	width: auto;
}

#panel-north-south_b {
    color: #ddd;
    min-height: 35px;
	min-width: 545px;
}

html>body #panel-north-south_b {
	width: auto;
}

#panel-north-south_b .ui-menubar {
	background: none;
	border: none;
	padding: 4px 10px;
}

#panel-north-south_b .ui-menuitem-text {
	font-weight: bold;
}

#panel-north-south_b .ui-icon {
	float: left;
}

#panel-north-south_c {
	display: none;
	float: right;
	min-height: 35px;
	width: 379px;
	width: 357px;
}

html>body #panel-north-south_c {
	width: 357px;
}

/* Conteudo */
#panel-middle_container {
	width: 100%;
}


#panel-middle-content {
	box-shadow: 0 -5px 5px rgba(153, 153, 153, 0.2);
	min-height: 300px;
	min-width: 702px;
	padding: 10px;
}

html>body #panel-middle-content {
	width: auto;
}

/* Ajusta o panel-middle-content ao contexto do template default-sidebar_a */
.default-sidebar_a #panel-middle-content {
	margin-left: 256px;
}

/* Ajusta o panel-middle-content ao contexto do template default-sidebar_b */
.default-sidebar_b #panel-middle-content {
	margin-right: 256px;
}

/* Ajusta o panel-middle-content ao contexto do template public-sidebar_a */
.public-sidebar_a #panel-middle-content {
	margin-left: 256px;
}

/* Ajusta o panel-middle-content ao contexto do template public-sidebar_b */
.public-sidebar_b #panel-middle-content {
	margin-right: 256px;
}

#panel-middle-content h3 {
    border-bottom: 1px solid #CCCCCC;
    color: #025A8D;
}

#panel-middle-content .sisInfo {
	text-align: right;
	font-weight: bold;
}

#panel-middle-content .ui-accordion-header {
	background-color: #eee;
}

#panel-middle-content .linkApp img {
	border: none;
}

#panel-middle-content .linkApp span {
	color: #005599 !important;
}

#panel-middle-content .ui-datatable td {
	white-space: normal;
}

/* Barra Lateral */
#panel-middle-sidebar_a {
	float: left;
	padding: 10px;
	width: 221px;
	width: 179px;
}

html>body #panel-middle-sidebar_a {
	width: 179px;
}

/* Ajusta o panel-middle-sidebar_a ao contexto do template default */
.default #panel-middle-sidebar_a {
	display: none;
}

/* Ajusta o panel-middle-sidebar_a ao contexto do template public */
.public #panel-middle-sidebar_a {
	display: none;
}

/* Ajusta o panel-middle-sidebar_a ao contexto do template default-sidebar_b */
.default-sidebar_b #panel-middle-sidebar_a {
	display: none;
}

/* Ajusta o panel-middle-sidebar_a ao contexto do template public-sidebar_b */
.public-sidebar_b #panel-middle-sidebar_a {
	display: none;
}

/* Barra Lateral */
#panel-middle-sidebar_b {
	float: right;
	padding: 10px;
	width: 247px;
	width: 205px;
}

html>body #panel-middle-sidebar_b {
	width: 205px;
}

/* Ajusta o panel-middle-sidebar_b ao contexto do template default */
.default #panel-middle-sidebar_b {
	display: none;
}

/* Ajusta o panel-middle-sidebar_b ao contexto do template public */
.public #panel-middle-sidebar_b {
	display: none;
}

/* Ajusta o panel-middle-sidebar_b ao contexto do template default-sidebar_a */
.default-sidebar_a #panel-middle-sidebar_b {
	display: none;
}

/* Ajusta o panel-middle-sidebar_b ao contexto do template public-sidebar_a */
.public-sidebar_a #panel-middle-sidebar_b {
	display: none;
}

#panel-middle-sidebar_b h3 {
	border-bottom: 1px solid #ccc;
	color: #025A8D;
}

#panel-middle-sidebar_b .ui-panel {
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #ccc;
	border-left: none;
}

#panel-middle-sidebar_b .ui-panel-content {
	text-align: right;
	padding: 0.5em 0;	
}

#panel-middle-sidebar_b ul {
	list-style: none;
}

#panel-middle-sidebar_b .listItem {
	text-align: left;
	height: 16px;
}

.ui-messages-error {
	margin: 10px 0;
	min-height: 25px;
	padding: 3px 0;
}

.ui-messages-error ul {
	margin: 0;
	padding: 0 5px 0 34px;
}

.ui-messages-error-icon {
	margin: 0 5px;
}

.ui-messages-error-summary {
	margin: 0;
}

/* Rodape */
#panel-south_container {
	width: 100%;
}

#panel-south-north {
	border: 1px solid #ddd;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
	clear: both;
	height: auto;
	margin: 0 auto;
	width: 958px;
	text-align: center;
	width: 978px;
}

html>body #panel-south-north {
	width: 978px;
}

#panel-south-north_a {
	float: left;
	padding: 10px;
	width: 221px;
	width: 179px;
}

html>body #panel-south-north_a {
	width: 179px;
}

#panel-south-north_b {
    color: #333;
    font-weight: bold;
	min-width: 464px;
	overflow: hidden;
	padding: 10px;
	text-align: center;
}

html>body #panel-south-north_b {
	width: auto;
}

#panel-south-north_c {
    color: #333;
	float: right;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	width: 221px;
	width: 179px;
}

html>body #panel-south-north_c {
	width: 179px;
}

#panel-south-middle {
	clear: both;
	height: auto;
	margin: 0 auto;
	width: 958px;
	text-align: center;
	width: 978px;
}

html>body #panel-south-middle {
	width: 978px;
}

#panel-south-middle_a {
	float: left;
	padding: 10px;
	width: 221px;
	width: 179px;
}

html>body #panel-south-middle_a {
	width: 179px;
}

#panel-south-middle_b {
    color: #333;
    font-weight: bold;
	min-width: 464px;
	overflow: hidden;
	padding: 10px;
	text-align: center;
}

html>body #panel-south-middle_b {
	width: auto;
}

#panel-south-middle_c {
    color: #333;
	float: right;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	width: 221px;
	width: 179px;
}

html>body #panel-south-middle_c {
	width: 179px;
}

#panel-south-south {
	clear: both;
	height: auto;
	margin: 0 auto;
	width: 958px;
	text-align: center;
	width: 978px;
}

html>body #panel-south-south {
	width: 978px;
}

#panel-south-south_a {
	float: left;
	padding: 10px;
	width: 221px;
	width: 179px;
}

html>body #panel-south-south_a {
	width: 179px;
}

#panel-south-south_b {
    color: #333;
    font-weight: bold;
	min-width: 464px;
	overflow: hidden;
	padding: 10px;
	text-align: center;
}

html>body #panel-south-south_b {
	width: auto;
}

#panel-south-south_c {
    color: #333;
	float: right;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	width: 221px;
	width: 179px;
}

html>body #panel-south-south_c {
	width: 179px;
}


.fpc-img-chrome {
	display: inline-block;
}

.fpc-img-firefox {
	display: inline-block;
}

.fpc-img-ie {
	display: inline-block;
}

.fpc-img-estoque {
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.fpc-img-notafiscal {
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.fpc-img-financeiro {
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.fpc-img-clientes {
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.fpc-img-relatorios {
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.fpc-img-agenda {
	display: block;
	margin-left:auto;
	margin-right:auto;
}




/* Caixa de diálogo modal */


	.modalWindow {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.2);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }
    
    .modalHeader{
			    border: 1px solid #A8A8A8;
			    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0% 0% #C4C4C4;
			    color: #333;
			    font-weight: bold;
			    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.698);
	    		padding: 0.4em 0.4em 0.4em 1em;
 	   			position: relative;
    			border: 0px none;
    			height: 28px;
    			cursor: pointer;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;    			
    }

    .modalWindow:target {
        opacity:1;
        pointer-events: auto;
    }
    
    .modalWindow > div {
        width: 600px;
        position: relative;
        margin: 10% auto;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #fff;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
    }
    
    .modalWindow .modalHeader  {    padding: 5px 20px 0px 20px; }
    
    .modalWindow .modalContent  {    
    	min-height: 180px; 
    	min-width: 350px;
    	padding-bottom: 2px;
		width: auto; 
		margin: 4px 4px 8px 4px;	    	
    }
    
    .modalWindow .modalFooter  {    padding: 8px 20px 8px 20px; }
   
    .modalFooter {
        background: #F1F1F1;
        border-top: 1px solid #999;
        -moz-box-shadow: inset 0px 13px 12px -14px #888;
        -webkit-box-shadow: inset 0px 13px 12px -14px #888;
        box-shadow: inset 0px 13px 12px -14px #888;
    }
    
    .modalFooter p {
        color:#D4482D;
        text-align:right;
        margin:0;
        padding: 5px;
    }
    
    .ok, .close, .cancel {
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        padding-top: 3px;
        
	    color: #333;
	    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.698);
	    font-weight: bold;
	    float: left;
	   	font-size: 12px;
	   	font-family: Arial,sans-serif;
        
    }
    .close {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 18px;
        height: 18px;
        font-size: 12px;
        color: black;
        
    }
    .ok, .cancel {
        width:80px;
        float:right;
        margin-left:20px;
    }
    .ok:hover { background: #189CDA; }
    .close:hover, .cancel:hover { background: #4F4F4F; color: white; }
    .clear { float:none; clear: both; }


/* Fim Caixa de diálogo modal */



body {
  min-height: 2000px;
  padding-top: 70px;
}


.glyphicon {
	margin-right: 3px;
}


.bs-glyphicons li {
    background-color: #f8f8f8;
    cursor: pointer;
}

.bs-glyphicons li:hover {
	background-color: #e7e7e7;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #F5F5F5;
	position: fixed;
	right: 0px;
	left: 0px;
	z-index: 1030;    
}


.jumbotron {
    text-align: center;
    background-color: transparent;
}


/* forms */

.fpc_fieldset {
	padding: 5px 5px 5px 5px;
}

.fpc_tupla {
	clear:both;
}

.fpc_nl {
	display:block;
	clear:both;
	border:0;
	margin:0;
	height:0;	
}

/*.form-group {
	margin-bottom: 8px;
	margin-right: 4px;
	margin-left: 4px;
}*/

.form-control {
/*	margin: 2px 4px 2px 5px; */
    height: 24px;
    padding: 4px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;	
}



.form-control-feedback {
	top: 18px;
} 


.btn {
	height: 24px;
  	border: 1px solid #A8A8A8;
	background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0% 0% #C4C4C4;
	color: #4F4F4F;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.698);
}

/*.form-group .btn {
	margin-top: 22px;
}
*/


/* tabs */

.fpc_tab {
    padding: 4px 8px !important;
}

.tab-content {
	margin-top:8px;
	margin-left:10px;
}


/* tab color */
.nav-tabs>li>a {
 	border: 1px solid #A8A8A8;
	background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0% 0% #C4C4C4;
	color: #4F4F4F;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.698);
	font-size: 12px;
}

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #333;
	text-decoration: none;
	outline: none;	
}

/* hover tab color */
.nav-tabs>li>a:hover {
	color: #333;
	text-decoration: none;
}


/* alerta  */

#alerta {
	padding: 0 0 0 10px;
	min-height: 24px;
}

#alerta span {
	display: block;
	font-size: 12px;
}



