/* AppComponent's private CSS styles */
@media (max-width: 768px) {
  section.content {
    margin-left: 1px !important;
  }
  section.content {
    margin-right: 1px !important;
  }
  .row > .col-12, .row > .col-md-12, .row > .col-sm-12 {
    padding-right: 1px !important;
    padding-left: 1px !important;
  }
}
