<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->

<!-- Search Bar -->
<!-- <search-bar></search-bar> -->
<!-- #END# Search Bar -->

<!-- Topbar -->
<topbar></topbar>
<!-- #END# Topbar -->

<section>
  <!-- Left Sidebar -->
  <left-sidebar></left-sidebar>
  <!-- #END# Left Sidebar -->
  
  <!-- Right Sidebar -->
  <right-sidebar></right-sidebar>
  <!-- #END# Right Sidebar -->  
</section>

<section class="content">
	<div class="container-fluid">
    <div class="block-header">
      <h2>{{title}}</h2>
    </div>
    <router-outlet></router-outlet>
  </div>
</section>
