<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
  <!-- User Info -->
  <div class="user-info">
      <div class="image">
          <img src="assets/images/user.png" width="48" height="48" alt="User" />
      </div>
      <div class="info-container">
          <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nome</div>
          <div class="email">email@unb.br</div>
          <div class="btn-group user-helper-dropdown">
              <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
              <ul class="dropdown-menu pull-right">
                  <li><a href="javascript:void(0);"><i class="material-icons">person</i>Perfil</a></li>
                  <li role="seperator" class="divider"></li>
                  <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sair</a></li>
              </ul>
          </div>
      </div>
  </div>
  <!-- #User Info -->
  <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">MENU PRINCIPAL</li>
            <li class="active">
                <a href="index.html">
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </a>
            </li>
        </ul>
    </div>
  <!-- #Menu -->
  <!-- Footer -->
  <div class="legal">
      <div class="copyright">
          &copy; {{year}} <a href="javascript:void(window.open('http://www.cpd.unb.br', '_blank'));">SSI | CPD | UnB</a>.
      </div>
      <div class="version">
          <b>Version: </b> 1.0.0
      </div>
  </div>
  <!-- #Footer -->
</aside>
<!-- #END# Left Sidebar -->