<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
  <title><%= htmlWebpackPlugin.options.title %></title>

  <%= htmlWebpackPlugin.files.webpackManifest %>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
  <% } %>

  <!--  Nossos Temas -->
  <link href="assets/css/themes/theme-blue.css" rel="stylesheet" />
  <link href="assets/css/fonts-googleapi-roboto400.css" rel="stylesheet" type="text/css">
  <link href="assets/css/fotns-googleapi-bobot.css" rel='stylesheet' type='text/css'>
  <!-- Bootstrap Core Css -->
  <link href="assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet"/>
  <!-- Custom Css -->
  <link href="assets/css/style.css" rel="stylesheet" />
  <!-- Material Design -->
  <link href="assets/css/themes/deeppurple-amber.css" rel="stylesheet">
  <link href="assets/css/material-icon.css" rel="stylesheet">
  <!--  Nossos Temas Fim-->
    <!-- <script src="node_modules/seguranca/bundles/seguranca.umd.js"></script> -->

</head>

<body class="theme-blue">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Carregando...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->

    <!-- Overlay For Sidebars -->
    <div class="overlay" [style.display]="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input id="filtro-input" type="text" onkeyup='systemFilter()' placeholder="DIGITE SUA BUSCA...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->

    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand link-barra" href="http://www.unb.br" target="_blank">
                    <img src="assets/img/as_vert_NEG_TRANSP_flag.png" alt="Imagem da UnB" style="width: 40px">
                </a>
                <a id="name_system" class="navbar-brand" href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>" style="text-transform: uppercase;"><%= htmlWebpackPlugin.options.title %></a>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->

    <my-app>
        Carregando...
    </my-app>

  <!-- Google Analytics: change UA-71073175-1 to be your site's ID -->
  <script>

      var client_id = location.search.split('code=')[1];

      if(client_id != undefined) {
          client_id = client_id.split("&")[0];
      }

      if(client_id != undefined){
          history.pushState(client_id, "page 2", "/portal/#/?code="+client_id);
      }

  </script>

  <!-- Jquery Core Js -->
  <script src="assets/plugins/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core Js -->
  <script src="assets/plugins/bootstrap/js/bootstrap.js"></script>

  <!-- Select Plugin Js -->
  <script src="assets/plugins/bootstrap-select/js/bootstrap-select.js"></script>

  <!-- Slimscroll Plugin Js -->
  <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

  <!-- Waves Effect Plugin Js -->
  <script src="assets/plugins/node-waves/waves.js"></script>


  <!-- Custom Js -->
 <script src="assets/js/admin.js"></script>

  <!-- Demo Js -->
  <script src="assets/js/demo.js"></script>


</body>
</html>
