{% if breadcrumb %} 
	{% include "breadcrumb.html" %}
{% endif %}
<div class="bs-docs-section">
  <div class="bs-glyphicons">
    <ul class="bs-glyphicons-list">
		{% for app in webapps %}
		  <li onclick="{{ sistema.url }}">
		        <img src="{{ app.image_url }}" />
				<span class="glyphicon-class">
				    <strong>{{ app.titulo }}</strong>
				</span>
	      </li>
		{% endfor %}
    </ul>
  </div>
</div>


<p>aqui começa o web app</p>
<auxilio-alimentacao-controller></auxilio-alimentacao-controller>

