{% extends "template.html" %}

{% block imports %}

	System.import('app/dashboard/dashboard').then(null, console.error.bind(console));

{% endblock %}


{% block barra_nav %}

    <ul id="barra_nav" class="nav navbar-nav">
      <li class="active"><a href="/portal/dashboard">Dashboard</a></li>
      <li><a href="/portal/sobre">Sobre</a></li>
    </ul>

{% endblock %}


{% block conteudo %}

	{% include "breadcrumb.html" %}
	<div class="bs-docs-section">
	  <div class="bs-glyphicons">
		<ul class="bs-glyphicons-list">
			{% for app in webapps %}
			  <li onclick="{{ sistema.url }}">
					<img src="{{ app.image_url }}" />
					<span class="glyphicon-class">
						<strong>{{ app.titulo }}</strong>
					</span>
			  </li>
			{% endfor %}
		</ul>
	  </div>
	</div>


	<p>aqui começa o web app</p>
	<auxilio-alimentacao-controller></auxilio-alimentacao-controller>
              
{% endblock %}
